@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

* {
	box-sizing: border-box;
	font-family: 'Lato', sans-serif;
}

body {
	margin: 0px;
	padding: 0px;
	height: 100%;
	width: 100%;
	background-color: rgb(240, 242, 245);
}

#root {
	margin: 0px;
	padding: 0px;
	height: 100%;
}

body {
	margin: 0px;
	padding: 0px;
}

.home {
	height: 100%;
	width: 100%;

	margin: 0px;
	padding: 0px;
}
.orange {
	background: rgb(255, 215, 215);
	background: -moz-linear-gradient(
		27deg,
		rgba(255, 215, 215, 1) 0%,
		rgba(253, 45, 1, 1) 18%
	);
	background: -webkit-linear-gradient(
		27deg,
		rgba(255, 215, 215, 1) 0%,
		rgba(253, 45, 1, 1) 18%
	);
	background: linear-gradient(
		27deg,
		rgba(255, 215, 215, 1) 0%,
		rgba(253, 45, 1, 1) 18%
	);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffd7d7",endColorstr="#fd2d01",GradientType=1);
}
.white {
	background-color: #e4e2e1;
}

/*Le post et le displayPost*/
.index-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	margin-top: 0%;
}

/*----------------------POST-----------------------------------*/
.post-container {
	background-color: white;

	color: black;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	margin-top: 20px;
	margin-bottom: 15px;
	width: 34vw;
}
.black_grey {
	color: #313030;
}

.post-container textarea {
	width: 16vw;
	border: 2px solid #4e5166;
	border-radius: 10px;
	padding: 5px;
	padding-top: 25px;
	color: black;
	resize: none;
	text-align: center;
}

.form-comment label {
	padding: 15px;
	display: none;
}

.form-comment #ok {
	padding: 15px;
}

.form-comment {
	background-color: rgb(240, 242, 245);
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.form-comment textarea {
	width: 50%;
	border: 2px solid #4e5166;
	resize: none;
	height: 50px;
	padding: 1%;
	color: black;
	margin-top: 5px;
	outline: none;
	text-align: center;
	padding: 12px;
	border-radius: 34px;
}

.form-comment textarea::-moz-placeholder {
	text-align: center;
}

.post {
	width: 100%;
	border: 2px solid #4e5166;
	border-radius: 10px;
	padding: 5%;
}

.post-buttons {
	display: flex;
}

.name_and_date {
	display: flex;
	flex-direction: column;
}
.grey {
	color: grey;
}
.bold {
	font-weight: 600;
}
/*Cache l'image du input file et du bouton envoyer pour transformer en icones*/
#image {
	display: none;
}

.image_space {
	margin-right: 10px;
}

#envoyer-image,
.coucou {
	visibility: hidden;
}

.espace-bouton {
	display: flex;
}

.envoyer_space {
	margin-right: 10px;
}

/*Message d'erreur si on n'envoit ni texte ni image*/
.msg-error-post {
	visibility: hidden;
	color: rgb(255, 15, 15);
}

.preview {
	justify-content: center;
	margin-bottom: 20px;
	text-align: center;
	padding: 17px;
}

.modal {
	position: absolute;
	animation-name: scaleUp;
	top: 0px;
	right: 0px;
	animation-duration: 1s;
}
.modal_content {
}
@keyframes scaleUp {
	0% {
		transform: translateY(-200%);
	}
	100% {
		transform: translateY(0%);
	}
}
textarea::placeholder {
	color: black;
	font-size: 15px;
	font-weight: 600;
}

#postMyText {
	visibility: hidden;
}

.hidden {
	display: none;
}
.reveal {
	display: inline-block;
}
/*----------------------DISPLAY-----------------------------------*/
.display-post {
	width: 70vw;
}
.display-englober {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	padding: 10px;
}
.display-container {
	word-break: break-word;
	background-color: white;
	color: black;
	border-radius: 13px;
	width: 50%;

	box-shadow: 0 10px 13px -7px #000, 5px 5px 15px 5px transparent;
}

.post-container {
	border-radius: 6px;
	box-shadow: 0 10px 13px -7px #000, 5px 5px 15px 5px transparent;
	position: relative;
	padding-top: 20px;
}
.imgModif{
	transform:translateY(-200%);
	animation-name:imgModifDropDown;
	animation-duration:2s;
	animation-fill-mode: forwards;
}
@keyframes imgModifDropDown{
	0%{
		opacity:0;
		transform:translateY(-200%);
	}
	100%{
		opacity:1;
		transform: translateY(10%);
	}
}

.displayFormModif {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.posts_image_container {
	display: flex;
	justify-content: center;
}

.images {
	width: 95%;
	max-height: 400px;
	object-fit: cover;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
}

.postMessage {
	margin: 0px;
	padding-left: 15px;
	font-weight: 600;
}

.head-container {
	display: flex;
	justify-content: space-between;
	padding-left: 15px;
}

.msg-container {
	background-color: white;
	padding: 15px;
	border: 2px solid rgb(221, 223, 226);
}

.en-gras {
	font-weight: 1000;
}

.ligne-séparation {
	border-top: 1px solid grey;
	width: 90%;
	margin-left: 5%;
	margin-right: 5%;
}
.input_et_imageProfil {
	display: flex;
	align-items: center;
}
.image-profil {
	margin-right: 15px;
	width: 50px;
	height: 50px;
	border-radius: 25px;
	object-fit: cover;
}

.image-profil-com {
	width: 40px;
	height: 40px;
	border-radius: 50%;
	margin-right: 15px;
	object-fit: cover;
	margin-left: 15px;
}

.fa-ellipsis {
	font-size: 20px;
	display: inline;
}

.fa-image {
	font-size: 25px;
	display: inline;
}

.fa-paper-plane {
	font-size: 25px;
	display: inline;
}

.fa-rotate-left,
.fa-pen-to-square,
.fa-trash-can {
	font-size: 25px;
	display: inline;
	color: grey;
	cursor: pointer;
}
.fa-photo-film {
	color: rgb(0, 81, 255);
	cursor: pointer;
	margin-right: 17px;
}

.fa-ellipsis {
	margin-right: 10px;
}

.fa-user,
.fa-image,
.fa-ellipsis,
.fa-rotate-left,
.fa-pen-to-square,
.fa-comment,
.fa-comment-slash {
	color: grey;
	cursor: pointer;
	transition: 0.2s;
}
.fa-paper-plane {
	color: green;
	cursor: pointer;
}

.fa-user:hover,
.fa-image:hover,
.fa-paper-plane:hover,
.fa-ellipsis:hover,
.fa-rotate-left:hover,
.fa-pen-to-square:hover,
.fa-comment:hover,
.fa-comment-slash:hover {
	opacity: 0.8;
}

.fa-photo-film:hover,
.fa-user:hover,
.fa-image:hover,
.fa-paper-plane:hover,
.fa-ellipsis:hover,
.fa-rotate-left:hover,
.fa-pen-to-square:hover,
.fa-comment:hover {
	opacity: 0.8;
	display: inline;
}

.fa-comment-slash:hover,
.fa-trash-can:hover {
	opacity: 0.8;
	display: inline;
}
.fa-trash-can {
	transition-duration: 0.2s;
}
.fa-trash-can:active {
	transform: scale(0.8);
}

.inline {
	display: flex;
	justify-content: center;
	align-items: center;
}

.inline i {
	display: inline-block;
}
i {
	transition-duration: 0.2s;
	cursor: pointer;
}
i:hover {
	opacity: 0.8;
}
i:active {
	transform: scale(0.8);
}

/*----------------------Modif-post-----------------------------------*/

#onePost {
	background-color: rgb(240, 242, 245);
	border: 2px solid rgb(221, 223, 226);
	padding: 15px;
}

.modifAndDelete {
	display: flex;
	margin: 15px;
	font-size: 12px;
}
.modifAndDelete i {
	margin-right: 15px;
	font-size: 14px;
}

.Form_Modif {
	height: 100%;
	width: 100%;
}
.modif-comment-form h1{
	font-size:30px;
}
body .modif-comment-form #comment{
margin:0px;
}

#my-post {
	width: 60%;
	border: 2px solid #4e5166;
	
	padding: 5%;
	resize:none;
	width:40%;
	height:116px;
}
.form-modif-container i{
	color: green;
}

.user {
	width: 100%;
	height: 100%;
}

#comment {
	width: 100%;
	border: 2px solid #4e5166;
	border-radius: 10px;
	padding: 5%;
}

#MonCommentaire {
	visibility: hidden;
}

.OnePost_container,
.form-modif-container,
.oneComment-container,
.commentModif-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	margin-top: 5%;
}

.img-Form-modif {
	width: 20vw;
	height: 300px;
	object-fit: cover;
	margin-bottom: 50px;
}

#modif-post-form {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.form-modif-container {
	margin: 0px;
	padding-top: 50px;
	padding-bottom: 100px;
	background-color: #fd2d01;
}

/*----------------------Commentaires-----------------------------------*/
.profil_and_name {
	display: flex;
}
.comment-head {
	display: flex;
	flex-direction: column;
}
.nomPrenomModifSuppr {
	display: flex;
}

.comment_container-header .en-gras {
	margin-right: 20px;
}
.comment_container-header i {
	font-size: 20px;
}

#commentaires-input {
	width: 80%;
	border: 2px solid #4e5166;
	border-radius: 10px;
	padding: 1%;
}

.comments-container {
	display: flex;
}

.comment-container {
	border-radius: 30px;
	background-color: #e4e2e1;
	opacity: 0.9;
}

.comment_container-header {
	padding-top: 15px;
	padding-left: 15px;
	padding-right: 15px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	padding-bottom: 5px;
}

.comment_container-body {
	padding-left: 15px;
	padding-top: 5px;
	padding-bottom: 15px;
	padding-right: 15px;
}

.poster {
	visibility: 0;
}

.msg-error-comment {
	visibility: hidden;
	color: red;
}

.comment {
	width: 100%;
	height: 100px;
	
}

.center {
	display: flex;
	flex-direction: center;
	align-items: center;
}

.form-modif-container-label {
	display: flex;
	justify-content: center;
}

/*----------------------Likes-----------------------------------*/
.likes-modif-container {
	width: 100%;
	margin: 0px;
	padding: 15px;
	display: flex;
	justify-content: space-evenly;
}

.likes-modif-container {
	font-size: 15px;
}

#like,
#dislike {
	margin-right: 10px;
	color: grey;
}

.likes-modify-container {
	display: flex;
	justify-content: space-between;
}

.likes {
	display: flex;
}

.modify {
	display: flex;
	margin-right: 5%;
}

.one-post {
	display: flex;
}

.one-post div {
	margin-right: 5%;
}

.fa-thumbs-up {
	color: grey;
	cursor: pointer;
	transition-duration: 0.2s;
	font-weight: 500;
}
.fa-thumbs-up:active {
	transform: scale(0.8);
}

.fa-thumbs-down {
	color: grey;
	cursor: pointer;
	transition-duration: 0.2s;
}
.fa-thumbs-down:active {
	transform: scale(0.8);
}

/*----------------------PageNotFound-----------------------------------*/
.pageNotFound-container {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.pageNotFound-container img {
	width: 30vw;
	height: 30vw;
}

/*---------------------------------------Version tablette--------------------------------------------------------------*/

@media screen and (min-width: 601px) and (max-width: 1024px) {
	.home {
		width: 100%;
		height: 100%;
		margin: 0px;
		padding: 0px;

		background-size: cover;
		background-repeat: no-repeat;
		font-family: 'Lato', sans-serif;
	}

	.display-container {
		background-color: white;
		padding: 10px;
		width: 60vw;
		margin-bottom: 10px;
		word-break: break-word;
	}

	.post-container {
		width: 60vw;
	}

	.images {
		width: 100%;
		height: 50vh;
		object-fit: cover;
	}

	.img-Form-modif {
		width: 50vw;
		height: 300px;
		object-fit: cover;
	}
}

/*---------------------------------------Version mobile--------------------------------------------------------------*/
@media screen and (max-width: 600px) {
	.home {
		font-family: 'Lato', sans-serif;
	}
	.display-englober{
		width:100%;
	}

	.post-buttons {
		display: flex;
		flex-direction: column;
		margin-left: 25%;
	}

	.body {
		background-color: black;
	}
	.display-post{
		width: 100%;
	}

	.post-container {
		border-radius: 10px;

		color: black;
		display: flex;
		justify-content: center;

		padding: 10px;
		margin: 20px;
		width: 90%;
	}

	.post-container textarea {
		width: 80%;
		margin-left: 5%;
	}
	textarea {
		resize: none;
	}

	textarea::placeholder {
		color: black;
	}

	.display-container {
		background-color: white;

		padding: 10px;
		width: 100%;
		margin-bottom: 10px;
		word-break: break-word;
		/*Pour permettre un retour à la ligne quand un mot est trop long*/
	}

	.display-container #modif-comment-form {
		width: 100%;
	}

	.comment {
		width: 100%;
		height: 300px;
		margin-left: 5%;
	}

	.images {
		width: 100%;
		height: 50vh;
		object-fit: cover;
	}

	.img-Form-modif {
		width: 80vw;
		height: 300px;
		object-fit: cover;
	}

	#like,
	#dislike {
		margin-right: 10px;
	}

	.likes-modify-container {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}

	.likes {
		display: flex;
		margin-bottom: 40px;
	}
}
